# **Proyecto La Liga** 
*Gabriela Vega.*

*Juan Albarracin.*

*Ángel Gómez.*

**Sistema de competición:**

La competición se disputa anualmente, consta de un grupo único integrado por **veinte equipos**.  se enfrentan todos contra todos en **dos ocasiones** (una en campo propio y otra en campo contrario). El orden de los encuentros se decide por sorteo antes de empezar la competición.

La clasificación final se establece con arreglo a los puntos totales obtenidos por cada equipo al finalizar el campeonato. Los equipos obtienen **tres puntos por cada partido ganado, un punto por cada empate y ningún punto por los partidos perdidos.**

**Objetivo del Proyecto:**

El objetivo principal de este proyecto es simular la tabla de clasificaciones de la liga para así poder predecir resultados de partidos para la realización de apuestas.

### 1.Importar Datos

Tomamos nuestro dataset y lo exploramos

In [0]:
import numpy as np
import pandas as pd

In [0]:
from google.colab import files
up = files.upload()

Saving FMEL_Dataset.csv to FMEL_Dataset (1).csv

In [0]:
data = pd.read_csv("FMEL_Dataset.csv")

In [0]:
data

          id   season  division  ...  visitorGoals        date   timestamp
0          1  1970-71         1  ...             1  12/09/1970    21938400
1          2  1970-71         1  ...             1  12/09/1970    21938400
2          3  1970-71         1  ...             0  12/09/1970    21938400
3          4  1970-71         1  ...             0  13/09/1970    22024800
4          5  1970-71         1  ...             1  13/09/1970    22024800
...      ...      ...       ...  ...           ...         ...         ...
37142  37143  2017-18         2  ...             0  02/06/2018  1527890400
37143  37144  2017-18         2  ...             1  02/06/2018  1527890400
37144  37145  2017-18         2  ...             0  02/06/2018  1527890400
37145  37146  2017-18         2  ...             1  02/06/2018  1527890400
37146  37147  2017-18         2  ...             2  02/06/2018  1527890400

[37147 rows x 10 columns]

## 2.Segmentación de datos

Tomaremos únicamente los equipos de la primera división.

In [0]:
df=data[data.division==1]
df=df[['localTeam','visitorTeam', 'localGoals',	'visitorGoals']]
df

                localTeam         visitorTeam  localGoals  visitorGoals
0      Atletico de Bilbao           Barcelona           1             1
1              Las Palmas  Atletico de Madrid           1             1
2             Real Madrid            Valencia           2             0
3           Celta de Vigo   Sporting de Gijon           2             0
4                   Elche             Granada           1             1
...                   ...                 ...         ...           ...
36680          Villarreal         Real Madrid           2             2
36681  Atletico de Bilbao             Espanol           0             1
36682           Barcelona       Real Sociedad           1             0
36683            Valencia           Deportivo           2             1
36684  Atletico de Madrid               Eibar           2             2

[17169 rows x 4 columns]

Como vemos, tenemos 17169 resgistros de partidos de 1a división.

## 3.Funciones de probabilidad

**Función partido**

Halla la probabilidad de victoria, empate y derrota para 2 equipos dados.

In [0]:
def partido(local, visitante):
    Win= data[(data.localTeam==local) & (data.visitorTeam==visitante) & (data.localGoals>data.visitorGoals)]
    empatar = data[(data.localTeam==local) & (data.visitorTeam==visitante) & (data.localGoals==data.visitorGoals)]

    probWin = (Win.shape[0])/(data[(data.localTeam==local) & (data.visitorTeam==visitante)].shape[0]) 
    probEmp = (empatar.shape[0])/(data[(data.localTeam==local) & (data.visitorTeam==visitante)].shape[0])

    probLoss = 1-probWin-probEmp
    
    return probWin, probEmp, probLoss

In [0]:
partido("Barcelona", "Real Madrid")

(0.5918367346938775, 0.24489795918367346, 0.163265306122449)

**Función puntosPartido**

Función para, una vez conocidos las probabilidades de victoria o derrota, pueda determinar mediante numeros aleatorios el resultado del encuentro entre 2 equipos, recibe como parametro el resultado de la función partido.

In [0]:
def puntosPartido(prob):
  i = np.random.random()
  puntosLocal=0;
  puntosVisit=0;
  if i <= prob[0]: %victoria
    puntosLocal=3
    puntosVisit=0
  elif (i>prob[0] and i<(prob[1]+prob[0])): %empate
    puntosLocal=1
    puntosVisit=1
  else:  %derrota
    puntosLocal =0
    puntosVisit=3
    
  return puntosLocal, puntosVisit

In [0]:
puntosPartido(partido("Barcelona", "Real Madrid"))

(1, 1)

## 4.Generar tabla de encuentros

Vamos a generar todos los encuentros que tendrá cada equipo

In [0]:
print (np.sort(df.localTeam.unique()))

['AD Almeria' 'Alaves' 'Albacete' 'Almeria' 'Atletico de Bilbao'
 'Atletico de Madrid' 'Barcelona' 'Betis' 'Burgos' 'CD Malaga' 'Cadiz'
 'Castellon' 'Celta de Vigo' 'Compostela' 'Cordoba' 'Deportivo' 'Eibar'
 'Elche' 'Espanol' 'Extremadura' 'Getafe' 'Gimnastic de Tarragona'
 'Girona' 'Granada' 'Hercules' 'Las Palmas' 'Leganes' 'Levante' 'Lleida'
 'Logrones' 'Malaga' 'Mallorca' 'Merida' 'Murcia' 'Numancia' 'Osasuna'
 'Oviedo' 'Rayo Vallecano' 'Real Burgos' 'Real Madrid' 'Real Sociedad'
 'Recreativo de Huelva' 'Sabadell' 'Salamanca' 'Santander' 'Sevilla'
 'Sporting de Gijon' 'Tenerife' 'Valencia' 'Valladolid' 'Villarreal'
 'Xerez' 'Zaragoza']

In [0]:
df.localTeam.unique().shape

(53,)

Seleccionamos nuestros 20 equipos para que jueguen La Liga (Esta es la temporada 2019-20)

In [0]:
a = np.array(['Barcelona','Real Madrid','Sevilla','Real Sociedad','Getafe','Atletico de Madrid',
              'Valencia','Villarreal','Granada','Atletico de Bilbao','Osasuna','Betis',
              'Levante','Alaves','Valladolid','Eibar','Celta de Vigo','Mallorca',
              'Leganes','Espanol'])

In [0]:
#np.delete(df.localTeam.unique(),0)

## 5.Simulación de La Liga

Simulamos todos los encuentros y por cada uno determinamos el resultado (los puntos para cada equipo)

In [0]:
c=[]
for i in range(len(a)):
  b=np.delete(a,i)
  for j in b:
    d=puntosPartido(partido(a[i],j))
    c.append([a[i],j,d[0],d[1]])

In [0]:
c

[['Barcelona', 'Real Madrid', 3, 0],
 ['Barcelona', 'Sevilla', 3, 0],
 ['Barcelona', 'Real Sociedad', 3, 0],
 ['Barcelona', 'Getafe', 3, 0],
 ['Barcelona', 'Atletico de Madrid', 1, 1],
 ['Barcelona', 'Valencia', 3, 0],
 ['Barcelona', 'Villarreal', 3, 0],
 ['Barcelona', 'Granada', 3, 0],
 ['Barcelona', 'Atletico de Bilbao', 3, 0],
 ['Barcelona', 'Osasuna', 3, 0],
 ['Barcelona', 'Betis', 3, 0],
 ['Barcelona', 'Levante', 3, 0],
 ['Barcelona', 'Alaves', 3, 0],
 ['Barcelona', 'Valladolid', 0, 3],
 ['Barcelona', 'Eibar', 3, 0],
 ['Barcelona', 'Celta de Vigo', 3, 0],
 ['Barcelona', 'Mallorca', 3, 0],
 ['Barcelona', 'Leganes', 3, 0],
 ['Barcelona', 'Espanol', 3, 0],
 ['Real Madrid', 'Barcelona', 3, 0],
 ['Real Madrid', 'Sevilla', 3, 0],
 ['Real Madrid', 'Real Sociedad', 3, 0],
 ['Real Madrid', 'Getafe', 3, 0],
 ['Real Madrid', 'Atletico de Madrid', 1, 1],
 ['Real Madrid', 'Valencia', 3, 0],
 ['Real Madrid', 'Villarreal', 1, 1],
 ['Real Madrid', 'Granada', 3, 0],
 ['Real Madrid', 'Atletico de Bilbao', 3, 0],
 ['Real Madrid', 'Osasuna', 3, 0],
 ['Real Madrid', 'Betis', 3, 0],
 ['Real Madrid', 'Levante', 3, 0],
 ['Real Madrid', 'Alaves', 3, 0],
 ['Real Madrid', 'Valladolid', 3, 0],
 ['Real Madrid', 'Eibar', 3, 0],
 ['Real Madrid', 'Celta de Vigo', 3, 0],
 ['Real Madrid', 'Mallorca', 3, 0],
 ['Real Madrid', 'Leganes', 3, 0],
 ['Real Madrid', 'Espanol', 3, 0],
 ['Sevilla', 'Barcelona', 1, 1],
 ['Sevilla', 'Real Madrid', 3, 0],
 ['Sevilla', 'Real Sociedad', 3, 0],
 ['Sevilla', 'Getafe', 1, 1],
 ['Sevilla', 'Atletico de Madrid', 0, 3],
 ['Sevilla', 'Valencia', 3, 0],
 ['Sevilla', 'Villarreal', 0, 3],
 ['Sevilla', 'Granada', 0, 3],
 ['Sevilla', 'Atletico de Bilbao', 1, 1],
 ['Sevilla', 'Osasuna', 1, 1],
 ['Sevilla', 'Betis', 3, 0],
 ['Sevilla', 'Levante', 3, 0],
 ['Sevilla', 'Alaves', 3, 0],
 ['Sevilla', 'Valladolid', 1, 1],
 ['Sevilla', 'Eibar', 1, 1],
 ['Sevilla', 'Celta de Vigo', 0, 3],
 ['Sevilla', 'Mallorca', 3, 0],
 ['Sevilla', 'Leganes', 1, 1],
 ['Sevilla', 'Espanol', 1, 1],
 ['Real Sociedad', 'Barcelona', 3, 0],
 ['Real Sociedad', 'Real Madrid', 0, 3],
 ['Real Sociedad', 'Sevilla', 1, 1],
 ['Real Sociedad', 'Getafe', 1, 1],
 ['Real Sociedad', 'Atletico de Madrid', 3, 0],
 ['Real Sociedad', 'Valencia', 0, 3],
 ['Real Sociedad', 'Villarreal', 0, 3],
 ['Real Sociedad', 'Granada', 1, 1],
 ['Real Sociedad', 'Atletico de Bilbao', 1, 1],
 ['Real Sociedad', 'Osasuna', 3, 0],
 ['Real Sociedad', 'Betis', 0, 3],
 ['Real Sociedad', 'Levante', 3, 0],
 ['Real Sociedad', 'Alaves', 3, 0],
 ['Real Sociedad', 'Valladolid', 3, 0],
 ['Real Sociedad', 'Eibar', 3, 0],
 ['Real Sociedad', 'Celta de Vigo', 3, 0],
 ['Real Sociedad', 'Mallorca', 3, 0],
 ['Real Sociedad', 'Leganes', 3, 0],
 ['Real Sociedad', 'Espanol', 3, 0],
 ['Getafe', 'Barcelona', 0, 3],
 ['Getafe', 'Real Madrid', 0, 3],
 ['Getafe', 'Sevilla', 3, 0],
 ['Getafe', 'Real Sociedad', 0, 3],
 ['Getafe', 'Atletico de Madrid', 0, 3],
 ['Getafe', 'Valencia', 3, 0],
 ['Getafe', 'Villarreal', 1, 1],
 ['Getafe', 'Granada', 1, 1],
 ['Getafe', 'Atletico de Bilbao', 1, 1],
 ['Getafe', 'Osasuna', 1, 1],
 ['Getafe', 'Betis', 0, 3],
 ['Getafe', 'Levante', 0, 3],
 ['Getafe', 'Alaves', 1, 1],
 ['Getafe', 'Valladolid', 3, 0],
 ['Getafe', 'Eibar', 1, 1],
 ['Getafe', 'Celta de Vigo', 3, 0],
 ['Getafe', 'Mallorca', 3, 0],
 ['Getafe', 'Leganes', 1, 1],
 ['Getafe', 'Espanol', 1, 1],
 ['Atletico de Madrid', 'Barcelona', 3, 0],
 ['Atletico de Madrid', 'Real Madrid', 0, 3],
 ['Atletico de Madrid', 'Sevilla', 1, 1],
 ['Atletico de Madrid', 'Real Sociedad', 0, 3],
 ['Atletico de Madrid', 'Getafe', 3, 0],
 ['Atletico de Madrid', 'Valencia', 1, 1],
 ['Atletico de Madrid', 'Villarreal', 3, 0],
 ['Atletico de Madrid', 'Granada', 3, 0],
 ['Atletico de Madrid', 'Atletico de Bilbao', 0, 3],
 ['Atletico de Madrid', 'Osasuna', 3, 0],
 ['Atletico de Madrid', 'Betis', 3, 0],
 ['Atletico de Madrid', 'Levante', 1, 1],
 ['Atletico de Madrid', 'Alaves', 0, 3],
 ['Atletico de Madrid', 'Valladolid', 0, 3],
 ['Atletico de Madrid', 'Eibar', 1, 1],
 ['Atletico de Madrid', 'Celta de Vigo', 0, 3],
 ['Atletico de Madrid', 'Mallorca', 3, 0],
 ['Atletico de Madrid', 'Leganes', 0, 3],
 ['Atletico de Madrid', 'Espanol', 1, 1],
 ['Valencia', 'Barcelona', 0, 3],
 ['Valencia', 'Real Madrid', 0, 3],
 ['Valencia', 'Sevilla', 3, 0],
 ['Valencia', 'Real Sociedad', 1, 1],
 ['Valencia', 'Getafe', 3, 0],
 ['Valencia', 'Atletico de Madrid', 1, 1],
 ['Valencia', 'Villarreal', 0, 3],
 ['Valencia', 'Granada', 3, 0],
 ['Valencia', 'Atletico de Bilbao', 3, 0],
 ['Valencia', 'Osasuna', 3, 0],
 ['Valencia', 'Betis', 1, 1],
 ['Valencia', 'Levante', 3, 0],
 ['Valencia', 'Alaves', 3, 0],
 ['Valencia', 'Valladolid', 3, 0],
 ['Valencia', 'Eibar', 3, 0],
 ['Valencia', 'Celta de Vigo', 0, 3],
 ['Valencia', 'Mallorca', 3, 0],
 ['Valencia', 'Leganes', 3, 0],
 ['Valencia', 'Espanol', 3, 0],
 ['Villarreal', 'Barcelona', 3, 0],
 ['Villarreal', 'Real Madrid', 3, 0],
 ['Villarreal', 'Sevilla', 1, 1],
 ['Villarreal', 'Real Sociedad', 3, 0],
 ['Villarreal', 'Getafe', 3, 0],
 ['Villarreal', 'Atletico de Madrid', 1, 1],
 ['Villarreal', 'Valencia', 1, 1],
 ['Villarreal', 'Granada', 3, 0],
 ['Villarreal', 'Atletico de Bilbao', 1, 1],
 ['Villarreal', 'Osasuna', 3, 0],
 ['Villarreal', 'Betis', 0, 3],
 ['Villarreal', 'Levante', 3, 0],
 ['Villarreal', 'Alaves', 3, 0],
 ['Villarreal', 'Valladolid', 3, 0],
 ['Villarreal', 'Eibar', 3, 0],
 ['Villarreal', 'Celta de Vigo', 3, 0],
 ['Villarreal', 'Mallorca', 0, 3],
 ['Villarreal', 'Leganes', 3, 0],
 ['Villarreal', 'Espanol', 1, 1],
 ['Granada', 'Barcelona', 0, 3],
 ['Granada', 'Real Madrid', 3, 0],
 ['Granada', 'Sevilla', 1, 1],
 ['Granada', 'Real Sociedad', 1, 1],
 ['Granada', 'Getafe', 3, 0],
 ['Granada', 'Atletico de Madrid', 0, 3],
 ['Granada', 'Valencia', 1, 1],
 ['Granada', 'Villarreal', 3, 0],
 ['Granada', 'Atletico de Bilbao', 1, 1],
 ['Granada', 'Osasuna', 1, 1],
 ['Granada', 'Betis', 3, 0],
 ['Granada', 'Levante', 1, 1],
 ['Granada', 'Alaves', 0, 3],
 ['Granada', 'Valladolid', 3, 0],
 ['Granada', 'Eibar', 1, 1],
 ['Granada', 'Celta de Vigo', 1, 1],
 ['Granada', 'Mallorca', 1, 1],
 ['Granada', 'Leganes', 0, 3],
 ['Granada', 'Espanol', 1, 1],
 ['Atletico de Bilbao', 'Barcelona', 3, 0],
 ['Atletico de Bilbao', 'Real Madrid', 1, 1],
 ['Atletico de Bilbao', 'Sevilla', 3, 0],
 ['Atletico de Bilbao', 'Real Sociedad', 3, 0],
 ['Atletico de Bilbao', 'Getafe', 3, 0],
 ['Atletico de Bilbao', 'Atletico de Madrid', 1, 1],
 ['Atletico de Bilbao', 'Valencia', 1, 1],
 ['Atletico de Bilbao', 'Villarreal', 3, 0],
 ['Atletico de Bilbao', 'Granada', 0, 3],
 ['Atletico de Bilbao', 'Osasuna', 3, 0],
 ['Atletico de Bilbao', 'Betis', 1, 1],
 ['Atletico de Bilbao', 'Levante', 0, 3],
 ['Atletico de Bilbao', 'Alaves', 3, 0],
 ['Atletico de Bilbao', 'Valladolid', 0, 3],
 ['Atletico de Bilbao', 'Eibar', 3, 0],
 ['Atletico de Bilbao', 'Celta de Vigo', 3, 0],
 ['Atletico de Bilbao', 'Mallorca', 3, 0],
 ['Atletico de Bilbao', 'Leganes', 3, 0],
 ['Atletico de Bilbao', 'Espanol', 1, 1],
 ['Osasuna', 'Barcelona', 3, 0],
 ['Osasuna', 'Real Madrid', 0, 3],
 ['Osasuna', 'Sevilla', 1, 1],
 ['Osasuna', 'Real Sociedad', 1, 1],
 ['Osasuna', 'Getafe', 1, 1],
 ['Osasuna', 'Atletico de Madrid', 1, 1],
 ['Osasuna', 'Valencia', 0, 3],
 ['Osasuna', 'Villarreal', 3, 0],
 ['Osasuna', 'Granada', 0, 3],
 ['Osasuna', 'Atletico de Bilbao', 0, 3],
 ['Osasuna', 'Betis', 0, 3],
 ['Osasuna', 'Levante', 3, 0],
 ['Osasuna', 'Alaves', 0, 3],
 ['Osasuna', 'Valladolid', 3, 0],
 ['Osasuna', 'Eibar', 3, 0],
 ['Osasuna', 'Celta de Vigo', 3, 0],
 ['Osasuna', 'Mallorca', 3, 0],
 ['Osasuna', 'Leganes', 0, 3],
 ['Osasuna', 'Espanol', 3, 0],
 ['Betis', 'Barcelona', 3, 0],
 ['Betis', 'Real Madrid', 0, 3],
 ['Betis', 'Sevilla', 1, 1],
 ['Betis', 'Real Sociedad', 3, 0],
 ['Betis', 'Getafe', 3, 0],
 ['Betis', 'Atletico de Madrid', 0, 3],
 ['Betis', 'Valencia', 3, 0],
 ['Betis', 'Villarreal', 1, 1],
 ['Betis', 'Granada', 3, 0],
 ['Betis', 'Atletico de Bilbao', 3, 0],
 ['Betis', 'Osasuna', 1, 1],
 ['Betis', 'Levante', 3, 0],
 ['Betis', 'Alaves', 3, 0],
 ['Betis', 'Valladolid', 1, 1],
 ['Betis', 'Eibar', 1, 1],
 ['Betis', 'Celta de Vigo', 0, 3],
 ['Betis', 'Mallorca', 3, 0],
 ['Betis', 'Leganes', 3, 0],
 ['Betis', 'Espanol', 3, 0],
 ['Levante', 'Barcelona', 1, 1],
 ['Levante', 'Real Madrid', 0, 3],
 ['Levante', 'Sevilla', 0, 3],
 ['Levante', 'Real Sociedad', 3, 0],
 ['Levante', 'Getafe', 1, 1],
 ['Levante', 'Atletico de Madrid', 0, 3],
 ['Levante', 'Valencia', 0, 3],
 ['Levante', 'Villarreal', 0, 3],
 ['Levante', 'Granada', 3, 0],
 ['Levante', 'Atletico de Bilbao', 0, 3],
 ['Levante', 'Osasuna', 3, 0],
 ['Levante', 'Betis', 0, 3],
 ['Levante', 'Alaves', 1, 1],
 ['Levante', 'Valladolid', 3, 0],
 ['Levante', 'Eibar', 3, 0],
 ['Levante', 'Celta de Vigo', 1, 1],
 ['Levante', 'Mallorca', 1, 1],
 ['Levante', 'Leganes', 1, 1],
 ['Levante', 'Espanol', 0, 3],
 ['Alaves', 'Barcelona', 0, 3],
 ['Alaves', 'Real Madrid', 0, 3],
 ['Alaves', 'Sevilla', 3, 0],
 ['Alaves', 'Real Sociedad', 3, 0],
 ['Alaves', 'Getafe', 3, 0],
 ['Alaves', 'Atletico de Madrid', 0, 3],
 ['Alaves', 'Valencia', 1, 1],
 ['Alaves', 'Villarreal', 3, 0],
 ['Alaves', 'Granada', 1, 1],
 ['Alaves', 'Atletico de Bilbao', 0, 3],
 ['Alaves', 'Osasuna', 0, 3],
 ['Alaves', 'Betis', 0, 3],
 ['Alaves', 'Levante', 3, 0],
 ['Alaves', 'Valladolid', 3, 0],
 ['Alaves', 'Eibar', 0, 3],
 ['Alaves', 'Celta de Vigo', 0, 3],
 ['Alaves', 'Mallorca', 3, 0],
 ['Alaves', 'Leganes', 1, 1],
 ['Alaves', 'Espanol', 1, 1],
 ['Valladolid', 'Barcelona', 0, 3],
 ['Valladolid', 'Real Madrid', 1, 1],
 ['Valladolid', 'Sevilla', 1, 1],
 ['Valladolid', 'Real Sociedad', 1, 1],
 ['Valladolid', 'Getafe', 1, 1],
 ['Valladolid', 'Atletico de Madrid', 1, 1],
 ['Valladolid', 'Valencia', 3, 0],
 ['Valladolid', 'Villarreal', 3, 0],
 ['Valladolid', 'Granada', 3, 0],
 ['Valladolid', 'Atletico de Bilbao', 0, 3],
 ['Valladolid', 'Osasuna', 1, 1],
 ['Valladolid', 'Betis', 0, 3],
 ['Valladolid', 'Levante', 0, 3],
 ['Valladolid', 'Alaves', 1, 1],
 ['Valladolid', 'Eibar', 3, 0],
 ['Valladolid', 'Celta de Vigo', 3, 0],
 ['Valladolid', 'Mallorca', 3, 0],
 ['Valladolid', 'Leganes', 3, 0],
 ['Valladolid', 'Espanol', 1, 1],
 ['Eibar', 'Barcelona', 0, 3],
 ['Eibar', 'Real Madrid', 0, 3],
 ['Eibar', 'Sevilla', 3, 0],
 ['Eibar', 'Real Sociedad', 1, 1],
 ['Eibar', 'Getafe', 3, 0],
 ['Eibar', 'Atletico de Madrid', 0, 3],
 ['Eibar', 'Valencia', 0, 3],
 ['Eibar', 'Villarreal', 3, 0],
 ['Eibar', 'Granada', 3, 0],
 ['Eibar', 'Atletico de Bilbao', 0, 3],
 ['Eibar', 'Osasuna', 0, 3],
 ['Eibar', 'Betis', 1, 1],
 ['Eibar', 'Levante', 1, 1],
 ['Eibar', 'Alaves', 3, 0],
 ['Eibar', 'Valladolid', 0, 3],
 ['Eibar', 'Celta de Vigo', 1, 1],
 ['Eibar', 'Mallorca', 0, 3],
 ['Eibar', 'Leganes', 1, 1],
 ['Eibar', 'Espanol', 1, 1],
 ['Celta de Vigo', 'Barcelona', 1, 1],
 ['Celta de Vigo', 'Real Madrid', 0, 3],
 ['Celta de Vigo', 'Sevilla', 3, 0],
 ['Celta de Vigo', 'Real Sociedad', 1, 1],
 ['Celta de Vigo', 'Getafe', 1, 1],
 ['Celta de Vigo', 'Atletico de Madrid', 1, 1],
 ['Celta de Vigo', 'Valencia', 1, 1],
 ['Celta de Vigo', 'Villarreal', 3, 0],
 ['Celta de Vigo', 'Granada', 1, 1],
 ['Celta de Vigo', 'Atletico de Bilbao', 0, 3],
 ['Celta de Vigo', 'Osasuna', 3, 0],
 ['Celta de Vigo', 'Betis', 1, 1],
 ['Celta de Vigo', 'Levante', 3, 0],
 ['Celta de Vigo', 'Alaves', 1, 1],
 ['Celta de Vigo', 'Valladolid', 3, 0],
 ['Celta de Vigo', 'Eibar', 3, 0],
 ['Celta de Vigo', 'Mallorca', 3, 0],
 ['Celta de Vigo', 'Leganes', 0, 3],
 ['Celta de Vigo', 'Espanol', 3, 0],
 ['Mallorca', 'Barcelona', 3, 0],
 ['Mallorca', 'Real Madrid', 1, 1],
 ['Mallorca', 'Sevilla', 1, 1],
 ['Mallorca', 'Real Sociedad', 0, 3],
 ['Mallorca', 'Getafe', 3, 0],
 ['Mallorca', 'Atletico de Madrid', 3, 0],
 ['Mallorca', 'Valencia', 0, 3],
 ['Mallorca', 'Villarreal', 1, 1],
 ['Mallorca', 'Granada', 1, 1],
 ['Mallorca', 'Atletico de Bilbao', 1, 1],
 ['Mallorca', 'Osasuna', 1, 1],
 ['Mallorca', 'Betis', 3, 0],
 ['Mallorca', 'Levante', 3, 0],
 ['Mallorca', 'Alaves', 3, 0],
 ['Mallorca', 'Valladolid', 1, 1],
 ['Mallorca', 'Eibar', 1, 1],
 ['Mallorca', 'Celta de Vigo', 3, 0],
 ['Mallorca', 'Leganes', 0, 3],
 ['Mallorca', 'Espanol', 3, 0],
 ['Leganes', 'Barcelona', 0, 3],
 ['Leganes', 'Real Madrid', 0, 3],
 ['Leganes', 'Sevilla', 0, 3],
 ['Leganes', 'Real Sociedad', 0, 3],
 ['Leganes', 'Getafe', 0, 3],
 ['Leganes', 'Atletico de Madrid', 1, 1],
 ['Leganes', 'Valencia', 0, 3],
 ['Leganes', 'Villarreal', 1, 1],
 ['Leganes', 'Granada', 3, 0],
 ['Leganes', 'Atletico de Bilbao', 1, 1],
 ['Leganes', 'Osasuna', 1, 1],
 ['Leganes', 'Betis', 3, 0],
 ['Leganes', 'Levante', 1, 1],
 ['Leganes', 'Alaves', 1, 1],
 ['Leganes', 'Valladolid', 3, 0],
 ['Leganes', 'Eibar', 3, 0],
 ['Leganes', 'Celta de Vigo', 3, 0],
 ['Leganes', 'Mallorca', 1, 1],
 ['Leganes', 'Espanol', 3, 0],
 ['Espanol', 'Barcelona', 1, 1],
 ['Espanol', 'Real Madrid', 0, 3],
 ['Espanol', 'Sevilla', 0, 3],
 ['Espanol', 'Real Sociedad', 1, 1],
 ['Espanol', 'Getafe', 3, 0],
 ['Espanol', 'Atletico de Madrid', 3, 0],
 ['Espanol', 'Valencia', 1, 1],
 ['Espanol', 'Villarreal', 1, 1],
 ['Espanol', 'Granada', 3, 0],
 ['Espanol', 'Atletico de Bilbao', 1, 1],
 ['Espanol', 'Osasuna', 3, 0],
 ['Espanol', 'Betis', 3, 0],
 ['Espanol', 'Levante', 1, 1],
 ['Espanol', 'Alaves', 0, 3],
 ['Espanol', 'Valladolid', 1, 1],
 ['Espanol', 'Eibar', 0, 3],
 ['Espanol', 'Celta de Vigo', 1, 1],
 ['Espanol', 'Mallorca', 3, 0],
 ['Espanol', 'Leganes', 3, 0]]

## 6.Resultados Obtenidos

Convertimos los resultados, que son una lista, a numpy array y luego construimos un nuevo dataset con los resultados de toda la Liga ya jugada.

In [0]:
resultados=np.asarray(c)
resultados

array([['Barcelona', 'Real Madrid', '3', '0'],
       ['Barcelona', 'Sevilla', '3', '0'],
       ['Barcelona', 'Real Sociedad', '3', '0'],
       ...,
       ['Espanol', 'Celta de Vigo', '1', '1'],
       ['Espanol', 'Mallorca', '3', '0'],
       ['Espanol', 'Leganes', '3', '0']], dtype='<U18')

Estos son los resultados de todos los partidos jugados

In [0]:
#Ese astype(int) es porque los puntos son strings y toca convertirlos.
laLiga=pd.DataFrame({'Local':resultados[:,0], 'Visitante':resultados[:,1], 'Puntos_Local':resultados[:,2].astype(int), 'Puntos_Visitante':resultados[:,3].astype(int)})
laLiga

         Local           Visitante  Puntos_Local  Puntos_Visitante
0    Barcelona         Real Madrid             3                 0
1    Barcelona             Sevilla             3                 0
2    Barcelona       Real Sociedad             3                 0
3    Barcelona              Getafe             3                 0
4    Barcelona  Atletico de Madrid             1                 1
..         ...                 ...           ...               ...
375    Espanol          Valladolid             1                 1
376    Espanol               Eibar             0                 3
377    Espanol       Celta de Vigo             1                 1
378    Espanol            Mallorca             3                 0
379    Espanol             Leganes             3                 0

[380 rows x 4 columns]

In [0]:
t=[]
for i in a:
  puntos_totales = laLiga[laLiga.Local==i].Puntos_Local.sum()+laLiga[laLiga.Visitante==i].Puntos_Visitante.sum()
  t.append([i,puntos_totales])

t2=np.asarray(t)
tablaPosiciones=pd.DataFrame({"Equipo":t2[:,0], "Puntos":t2[:,1]})
tablaPosiciones

                Equipo Puntos
0            Barcelona     77
1          Real Madrid     92
2              Sevilla     46
3        Real Sociedad     56
4               Getafe     32
5   Atletico de Madrid     56
6             Valencia     64
7           Villarreal     59
8              Granada     39
9   Atletico de Bilbao     67
10             Osasuna     41
11               Betis     63
12             Levante     35
13              Alaves     42
14          Valladolid     45
15               Eibar     33
16       Celta de Vigo     51
17            Mallorca     41
18             Leganes     45
19             Espanol     41

In [0]:
#Ordenado por puntos de mayor a menor
tablaPosiciones.sort_values(by=["Puntos"],ascending=False)
#tablaPosiciones.index

                Equipo Puntos
1          Real Madrid     92
0            Barcelona     77
9   Atletico de Bilbao     67
6             Valencia     64
11               Betis     63
7           Villarreal     59
3        Real Sociedad     56
5   Atletico de Madrid     56
16       Celta de Vigo     51
2              Sevilla     46
14          Valladolid     45
18             Leganes     45
13              Alaves     42
17            Mallorca     41
10             Osasuna     41
19             Espanol     41
8              Granada     39
12             Levante     35
15               Eibar     33
4               Getafe     32